.nav {
  display: none;
}

.toggle-btn {
  margin-top: 12px;
  margin-left: 12px;
  display: block;
  position: relative;
}

.toggle-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.toggle-btn i:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.toggle-btn i .hamburger {
  display: block;
  color: #000000;
  font-size: 20px;
  transition: opacity 0.2s ease-in-out;
}

.toggle-btn i .close {
  display: none;
  color: #000000;
  font-size: 24px;
  transition: opacity 0.2s ease-in-out;
}

.dropdown_menu {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 200px;
}

.dropdown_menu li {
  list-style: none;
}

.dropdown_menu .link {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
}

.dropdown_menu .link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown_menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hamburger {
  color: #86a8cf;
  font-size: 30px;
}

.close {
  color: #ae445a;
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  .nav {
    display: block;
  }
}
